<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{% block title %}Grumblr{% endblock %}</title>

	{% load static %}

	<!-- Bootstrap core CSS -->
	<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
	<link href="{% static 'css/home.css' %}" rel="stylesheet" type="text/css">
	<!-- Custom styles for this template -->
	{% block css %}{% endblock %}

	<!-- core JS -->
	<script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
	<!-- custome JS -->
	{% block js %}{% endblock %}

</head>

<body>
	<div id='nav-container'>
		<div id='navbar'>
			<div id='left'>
				<a href="{% url 'home' %}"><img src="{% static 'images/grumblr-font3.png' %}" id='logo-name'></a>
			</div>
			<div id='center'><input id="input-field" type="text" placeholder='Search'></div>
			<div id='right'>
				<a href="{% url 'profile' request.user.username %}"><img src="{% static 'images/profile.png' %}" class='nav-icon'></a>
				<a href='#'><img src="{% static 'images/message.png' %}" class='nav-icon'></a>
				<a href='#'><img src="{% static 'images/write.png' %}" class='nav-icon'></a>
			</div>
		</div>
	</div>

	<div class="container" id='posttext'>
		{% block content %}{% endblock %}
	</div>

	<div class="container" id="postbody">
		<div class="col-md-2"></div>
		<div class="col-md-8">{% block post %}{% endblock %}</div>
		<div class="col-md-2"></div>
	</div>

	<div id='footer'>
		<a href='#'>ABOUT US</a>
		<a href='#'>SUPPORT</a>
		<a href='#'>PRIVACY</a>
		<a href='#'>TERMS</a>
		<a href='#'>LANGUAGE</a>
		<a href="{% url 'change_password' %}">CHANGE PASSWORD</a>
		<a href="{% url 'logout' %}">LOG OUT</a>
		<span id='copyright'>© 2018 GRUMBLR</span>
	</div>

</html>
